@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);

}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

.inter {
    font-family: 'inter';
}

.Poppins {
    font-family: 'Poppins';
}

.Roboto {
    font-family: 'Roboto';

}