body {
  box-sizing: border-box;
  /* padding: 0; */
  margin: 0;
}
.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 2.5rem;
  margin-block: 1.5rem;
}
.sections {
  font-size: 1rem;
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
}
.icons {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}
.title-eCommerce {
  font-weight: 100;
}
.header-pargraph {
  font-size: 1.3rem;
}
.pargraph {
  font-size: 0.9rem;
}
.main-section {
  display: flex;
  align-items: center;
  background-color: #efefef;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 10px;
}
.content {
  width: 50%;
}
.Categories-of-The-Month-section {
  margin: auto;
  margin-block: 10rem;
}
.Categories-of-The-Month-section-title {
  text-align: center;
  width: 52%;
  margin: auto auto 4rem;
}
.primary-title {
  font-size: 3rem;
}
.section-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.img-card {
  text-align: center;
}
.watch-img,
.Shoes-img,
.Accessories-img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  max-width: 100%;
}
.img-pargraph {
  font-size: 1.3rem;
}
.img-button {
  background-color: #59ab6e;
  color: white;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}

.product-section {
  color: #212529;
  background-color: #e9eef5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.h1 {
  color: #212529;
  font: 48px "Roboto", sans-serif;
  margin-bottom: 0px 0px 8px;
}
.h1 > p {
  color: #212529;
  font: 18px sans-serif;
  margin: 0px 0px 16px;
}
.sectio-content {
  text-align: center;
}
.cards {
}
.cards-content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  margin-top: 1rem;
}
.image {
  width: 100%;
}
.content2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.title-of-element {
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.main-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
/* General class */
.width {
  width: 80%;
}
.auto-margin {
  margin-inline: auto;
}
.secondary-color {
  color: #59ab6e;
}
.main-product {
  width: 20rem;
  max-width: 100%;
}
